* ,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.siteName {
    text-align: left;
    display: inline-block;
    text-decoration: none;
    Color: black;
}

.home {
    float: right;
    text-decoration: none;
    Color: black;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
}

.home:hover {
    background-color: #ddd;
}

.content {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.pageName {
    margin-bottom: 20px;
}

.allRecipes {
    width: 80%;
    margin: 0px auto;
}

.recipe {
    border: 1px solid black;
}

.recipe img {
    margin: 8px auto;
}

.recipe a {
    margin-bottom: 8px;
}

ul {
    width: 350px;
    margin: 0px auto;
    list-style-type: none;
}

li {
    width: 300px;
    margin: 0px auto;
    margin-bottom: 10px;
    border: 1px solid black;
}

img {
    width: 280px;
}

img,
a {
    display: block;
}