* ,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.content {
    width: 600px;
    margin: 30px auto;
    text-align: center;
}

.siteName {
    text-align: left;
    display: inline-block;
}

.home {
    display: inline-block;
    margin-left: 80%;
}

.pageName {
    margin-bottom: 20px;
}

ul {
    width: 350px;
    margin: 0px auto;
    list-style-type: none;
}

li {
    width: 300px;
    margin: 0px auto;
    margin-bottom: 10px;
    border: 1px solid black;
}

img {
    width: 280px;
    margin: 8px;
}

a {
    margin-bottom: 8px;
}

img,
a {
    display: block;
}